<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Esbjerg Shuri Ryu Karate</a>
    </div>

    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li *ngIf="loggedIn | async"><a [routerLink]="['/students']">Elever</a></li>
        <li *ngIf="loggedIn | async"><a [routerLink]="['/classes']">Hold</a></li>
        <li *ngIf="loggedIn | async"><a [routerLink]="['/signup']">Tilmelding</a></li>
        <li *ngIf="canSetPayments | async"><a [routerLink]="['/payment']">Kasserer</a></li>
        <li *ngIf="canViewEmails | async"><a [routerLink]="['/emails']">Emails</a></li>
        <li *ngIf="loggedIn | async"><a (click)="logout()">Log ud</a></li>
        <li *ngIf="loggedIn | async"><a>Velkommen {{ username | async }}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid app-content">
  <router-outlet></router-outlet>
</div>
