
<h3>Tilmeld elev</h3>

<form [formGroup]="signupForm" (ngSubmit)="addParty()">
  <div>
    <label for="name">Navn</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="birthdate">Fødselsdag (dd/mm/yyyy)</label>
    <input id="birthdate" type="text" formControlName="birthdate">
  </div>
  <div>
    <label>Hold</label>
    <select multiple name="classes" formControlName="classes">
      <option *ngFor="let klass of classes | async" [value]="klass._id">
        {{klass.name}}
      </option>
    </select>
  </div>
  <div formGroupName="contacts">
    <h4>Kontaktperson</h4>
    <div>
      <label for="contact.name">Navn</label>
      <input id="contact.name" type="text" formControlName="name">
    </div>
    <div>
      <label for="contact.phone">Telefon</label>
      <input id="contact.phone" type="text" formControlName="phone">
    </div>
    <div>
      <label for="contact.email">Email</label>
      <input id="contact.email" type="text" formControlName="email">
    </div>
  </div>
  <button>Tilføj elev</button>
</form>
